<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Persofy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?genre=Action">Action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?genre=Drama">Drama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?genre=Comedy">Comedy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?genre=Animation">Animation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?genre=Sci-Fi">Sci-Fi</a>
                </li>
                <% if (userName) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/movies">Edit Page</a>
                    </li>
                <%}%>
                <li>
                    <button class="hamburger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<span>
</span>
<span>
</span>