body {
    background-color: #f4f4f4;
    padding-top: 7%;
}
header h1 {
    margin: 0;
}

.card.custom-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.card.custom-card:hover {
    transform: scale(1.05); /* Slightly increase the size of the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
}


.img-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-container:hover .overlay {
    opacity: 1;
}

.img-container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card.custom-card .card-title {
    font-size: 18px;
}
/* Hamburger Button */
.hamburger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #989393;
}

img {
    padding-bottom: 15px;
    padding-top: 15px;
}